# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore virtual environment files
venv/
env/
*.env

# Ignore IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore package build files
dist/
build/
*.egg-info/

# Ignore local development settings
*.bak
*.swp
*.log
*.sqlite3

# Ignore system-specific files
.DS_Store
Thumbs.db
